<div *ngIf="customer" class="overlay">
  <form (ngSubmit)="editCustomer(f)" #f="ngForm">
    <span routerLink="/customers" >X</span>
    <p>Edit Customer</p>
    <label>Full name
      <input class="form-control" type="text" name="fullName" [(ngModel)]="customer.fullName">
    </label>
    <label>Email address
      <input class="form-control" type="text" name="emailAddress" [(ngModel)]="customer.emailAddress">
    </label>
    <label>Phone number
      <input class="form-control" type="number" name="phoneNumber" [(ngModel)]="customer.phoneNumber">
    </label>
    <button type="submit" class="btn btn-dark">Edit</button>
  </form>
</div>
