<p *ngIf="loading" class="loading bg-success text-center text-white">...</p>
<p *ngIf="rentedError" class="rentalError text-white bg-danger text-center p-3">{{rentedError}}</p>
<p *ngIf="rentalSuccessMSg" class="rentalSuccess text-white bg-success text-center p-3">{{rentalSuccessMSg}}</p>
<form (ngSubmit)="rentIt(f)" #f="ngForm">
  <label>Start
    <input class="form-control" #startDate="ngModel" type="date" name="startDate" ngModel required >
  </label>
  <p class="text-danger" *ngIf="!startDate.valid && startDate.touched">*Required</p>
  <label>End
    <input class="form-control" #endDate="ngModel" type="date" name="endDate" ngModel required >
  </label>
  <p class="text-danger" *ngIf="!endDate.valid && endDate.touched">*Required</p>
  <label>Customers:</label>
  <select class="form-control" #customerName="ngModel" name="customerName" ngModel required>
    <option *ngFor="let cust of customers" [value]="cust.fullName">{{cust.fullName}}</option>
  </select>
  <p class="text-danger" *ngIf="!customerName.valid && customerName.touched">*Required</p>
  <label>Vehicle:</label>
  <select class="form-control" #vehicleName="ngModel" name="vehicleName" ngModel required>
    <option *ngFor="let veh of vehicles" [value]="veh.model">{{veh.model}} {{veh.brand}}</option>
  </select>
  <p class="text-danger" *ngIf="!vehicleName.valid && vehicleName.touched">*Required</p>
  <button [disabled]="!f.valid"  class="btn btn-dark my-2" type="submit">Add</button>
</form>
