.vehicle {
    display: flex;
    flex-wrap: wrap;

    @media(max-width:1008px) {
        justify-content:space-between;
    }
    @media(max-width:710px) {
        flex-direction: column;
    }

    @media(max-width:470px) {
        flex-direction: column;
    }
   
}

.vehicles {
    .rentalError {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        background-color: rgb(172, 114, 8);
        color: white;
        padding: 20px;
    }
    .rental_event_btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }
    .vehicles_header {
        padding: 20px;
        
       
       
        
        h1 {
            text-align: center;
        }
        p {
            margin: 0 !important;
            color: gray;
            font-style: italic;
            text-align: center;
        }
    }
    .add_btns {
        padding: 10px 10px;

        .overlay {
            background-color: rgba(0, 0, 0, 0.548);
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 999;
            form {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 500px;
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                input,select {
                    margin-top: 10px;
                }
                button {
                    margin-top: 10px;
                }
                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: crimson;
                    color: white;
                    padding: 10px;
                    cursor: pointer;
                }

                legend {
                    font-size: 11px;
                    text-transform: uppercase;
                    color: rgba(220, 20, 60, 0.863);
                }

                @media(max-width:570px) {
                    width: 400px;
                }
                @media(max-width:435px) {
                    width: 300px;
                }
            }
        }
    }
}


